# vim: set syn=systemd:
[Unit]
Description=GoCollect, the rarely changing sysinfo collector

[Service]
ExecStart=/usr/sbin/gocollect

[Install]
WantedBy=multi-user.target
