# vim: set syn=systemd:
[Unit]
Description=GoCollect collects system info and pushes it to a central server

[Service]
ExecStart=/usr/sbin/gocollect

[Install]
WantedBy=multi-user.target
