# GoCollect configuration.

# api_key: Optional API key which is passed along during registration
#   and updates. This key is required for some collector servers to map
#   your server to a specific company.
#api_key = ABCDEF_THIS_IS_A_KEY

# register_url: Specify URL where to register this GoCollect instance.
#   You can skip the register-step by prepopulating
#   /var/lib/gocollect/core.id.regid with a valid key.
#register_url = https://example.com/register/
register_url = http://localhost:8000/register/

# push_url: Specify URL where to post the data.
#   The {ip4} and {fqdn} parameters are taken from the core.id script.
#   The {regid} parameter is the (unique) identifier obtained from
#   the registry; also taken from the core.id script.
#   The {_collector} parameter is the collector name/key.
#
#   For now, we've decided to do without auth on the collector server.
#   We won't do automatic billing based on the imported values and the
#   source IP is used as an additional identifier.
#push_url = https://example.com/update/{ip4}/{fqdn}/{_collector}/
push_url = http://localhost:8000/update/{regid}/{_collector}/

# collectors_path: Specify one or more paths where the collectors can
#   be found.
#   You're allowed to supply multiple collector paths. That way you can
#   add new collectors or override collectors that behave differently on
#   your system. (The *last* path is leading.)
collectors_path = /usr/share/gocollect/collectors
collectors_path = /usr/local/share/gocollect/collectors
collectors_path = /home/walter/GOPATH/src/github.com/ossobv/gocollect/collectors

# Optionally include these files if available. At the moment, globbing
# is not supported.
include = /etc/gocollect.conf.local
include = /usr/local/etc/gocollect.conf.local
