#!/bin/sh
# vim: set ts=8 sw=4 sts=4 et ai:
# REQUIRES: coreutils(cut)
# REQUIRES: iproute2(ip)
# REQUIRES: sed(sed)

append_addresses() {
    echo -n ",\"$2\":["
    n2=0
    ip addr show dev $1 | sed -ne 's/^[[:blank:]]*'"$3"' \([^ ]*\).*/\1/p' | while read line2; do
        test $n2 -gt 0 && echo -n ,
        n2=$((n2+1))
        addr=$(echo "$line2" | cut -d/ -f1)
        bits=$(echo "$line2" | cut -d/ -f2)
        echo -n "{\"address\":\"$addr\",\"bits\":$bits}"
    done
    echo -n "]"
}

echo "{\"interfaces\":["
n=0
ip link | sed -e '/^[[:blank:]]/d;s/://g;s/ <.*//' | while read line; do
    test $n -gt 0 && echo "},"
    n=$((n+1))
    index=$(echo "$line" | cut -d' ' -f1)
    name=$(echo "$line" | cut -d' ' -f2)
    mac=$(ip link show dev $name | sed -ne 's/^[[:blank:]]*link\/[^ ]* \([^ ]*\).*/\1/p')
    echo -n "{\"index\":\"${index%:}\",\"name\":\"${name%:}\",\"mac\":\"$mac\""
    append_addresses $name ip4 inet
    append_addresses $name ip6 inet6
done
echo "}]}"  # ip addr must return something, or it's very broken
