#!/bin/sh
# vim: set ts=8 sw=4 sts=4 et ai:
# REQUIRES: coreutils(cut)
# REQUIRES: iproute2(ip)
# REQUIRES: sed(sed)

append_addresses() {
    echo -n ",\"$2\":["
    n2=0
    ip addr show dev $1 | sed -ne 's/^[[:blank:]]*'"$3"' \([^ ]*\).*/\1/p' | while read line2; do
        test $n2 -gt 0 && echo -n ,
        n2=$((n2+1))
        if test "${line2%/*}" = "${line2}"; then
            addr=$line2
            bits=32
        else
            addr=${line2%%/*}
            bits=${line2#*/}
        fi
        echo -n "{\"address\":\"$addr\",\"bits\":$bits}"
    done
    echo -n "]"
}

echo "{\"interfaces\":{"
ip link | sed -e '/^[[:blank:]]/d;s/://g;s/ <.*//' | while read line; do
    index=$(echo "$line" | cut -d' ' -f1)
    name=$(echo "$line" | cut -d' ' -f2)
    namenoat=${name%%@*}
    mac=$(ip link show dev $namenoat | sed -ne 's/^[[:blank:]]*link\/[^ ]* \([^ ]*\).*/\1/p')
    echo -n "\"${name%:}\":{\"index\":${index%:},\"mac\":\"$mac\""
    append_addresses $namenoat ip4 inet
    append_addresses $namenoat ip6 inet6
    echo "},"
done | LC_ALL=C sort | sed -e '$s/,$//'
echo "}}"
